body {
    font-family: 'Times New Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 4rem;
    background-color: #eee;
    

}
nav img {
    height: 100%;
    margin: auto auto auto 0rem; 

}
nav a {
    background-color: cyan;
    border-radius: .25rem;
    margin: 0.5rem;
    width: 5rem;
    height: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a:hover {
    background-color: rgba(30, 103, 103, 0.684);
}
nav a.login {
    border: 1px solid black;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    padding: .25rem 1rem;
}